@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-display), serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
